






@media(min-width:1700px){
    .our-service h2{
        font-size: 55px !important;
    }



};




@media(max-width:1700px){
    .our-service h2{
        font-size: 50px !important; 
    }

    .our-service h6{
        font-size: 1.5rem
    }
    

};



@media(max-width:1400px){
    .our-service h2{
        font-size: 40px !important;
    }



};



@media(max-width:1200px){
    .our-service h2{
        font-size: 35px !important; 
    }

};






// @media(max-width:1700px){
//     .our-service h2{

//         font-size: 55px !important;
//     }
// }